body {
	background-color: #edeef0;
}

* {
	margin: 0;
	padding: 0;
}

.main_block {
	margin-top: 30px;
	margin-left: auto;
    margin-right: auto;
	width: 80%;
	font-family: gill sans mt;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
}

.account_info {
	grid-column: 1/4;
	font-size: 16px;

	display: grid;
	grid-template-rows: repeat(10, 60px);
}

.account_publications_block {
	grid-column: 4/8;
	border: 1px solid #DCDCDC;
	border-top: 0;
	border-bottom: 0;
}

.publications_block_header, .comments_block_header {
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #DCDCDC;
	margin-right: 25px;
	margin-left: 25px;
}

.account_photo {
	grid-row: 1/5;
	width: 200px;
	height: 200px;
	background-size: cover;
	border-radius: 5px;
	margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.account_id {
	grid-row: 5;
}

.account_user_name {
	text-decoration: none;
	color: black;
}

.account_user_name:hover, .account_user_name:active, .account_user_name:focus {
	color: #f72464;
}

.account_user_status {
	grid-row: 6;
}

.account_user_rating {
	grid-row: 7;
}

.account_user_status, .account_user_rating {
	margin: 20%;
	margin-top: 0px;
	margin-bottom: 15px;
	background-color: #F8F8FF;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.publication_header {
	grid-row: 1;
	grid-column: 1/3;
	color: black;
	text-decoration: none;
	text-align: left;

	display: grid;
   	grid-template-columns: 70px 170px;
   	grid-template-rows: 30px 30px 20px;
}

.publication_author_image {
	margin-top: 10px;
	grid-row: 1/3;
	grid-column: 1;

	margin-left: auto;
	margin-right: auto;

	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-size: cover;
}

.publication_author {
	grid-column: 2;
	grid-row: 1;
	text-decoration: none;
	color: black;
	font-family: gill sans mt;
	font-size: 16px;
	margin-top: 14px;
}

.publication_timestamp {
	grid-column: 2;
	grid-row: 2;
	font-size: 9px;
	font-family: sans-serif;
	margin-top: auto;
	margin-bottom: auto;
}

.publication_title {
	margin-top: auto;
	margin-bottom: auto;
	text-decoration: none;
	color: black;
	font-family: Trebuchet MS;
	font-size: 16px;
	margin-left: 15px;
	margin-right: 15px;
	grid-column: 1/3;
	grid-row: 3;
}

.publication_title:hover, .publication_title:active, .publication_title:focus {
	color: #f72464;
}

.publication_author:hover, .publication_author:active, .publication_author:focus {
	color: #f72464;
}

.small_publication, .account_comment {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 25px;
    margin-right: 25px;
	background-color: #F8F8FF;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	text-align: center;
	padding-bottom: 10px;
}

/*--------------------------------------------------------------------------------------------*/

.account_comments_block {
	grid-column: 8/11;
}

.account_comment {
	padding-bottom: 0;
}

.comment_header {
	text-align: left;
	margin: 10px;
}

.comment_header_high_row, .comment_header_low_row {
	margin-top: 5px;
	margin-bottom: 5px;
}

.commented_publication_author, .comment_author {
	text-decoration: none;
	color: black;
	font-family: gill sans mt;
	font-size: 16px;
}

.commented_publication_title {
	text-decoration: none;
	color: black;
	font-family: Trebuchet MS;
	font-size: 16px;
	margin-left: 5px;
}

.comment_timestamp {
	font-size: 9px;
	font-family: sans-serif;
	margin-bottom: 0px;
}

.comment_text {
	font-family: century gothic;
	font-size: 14px;
	text-align: left;
	margin: 10px;
}

.commented_publication_title:hover, .commented_publication_title:active, .commented_publication_title:focus {
	color: #f72464;
}

.commented_publication_author:hover, .commented_publication_author:active, .commented_publication_author:focus {
	color: #f72464;
}

.comment_author:hover, .comment_author:active, .comment_author:focus {
	color: #f72464;
}
