body {
	background-color: #edeef0;
  font-family: gill sans mt;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
	margin: 0;
	padding: 0;
}

.main_block {
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: auto;
  margin-right: auto;
	background-color: #F8F8FF;
	width: 600px;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	text-align: left;
}

.creator-form {
  height: 535px;
  width: 90%;
  margin-bottom: 10px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.creator-form h1 {
  text-align: center;
  margin-bottom: 30px;
}

.txtb, .txtb_large {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  position: relative;
}

.image_upload {
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
}

/*.image_upload .btn-tertiary{color:#555;padding:0;line-height:40px;width:150px;display:block;border:1px solid #DCDCDC; border-radius: 5px;}
.image_upload .btn-tertiary:hover,.image_upload .btn-tertiary:focus{color:#888;border-color:#888}
.image_upload .input-file{width:.1px;height:.1px;opacity:0;overflow:hidden;position:absolute;z-index:-1}
.image_upload .input-file + .js-labelFile{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding:0 10px;cursor:pointer}
.image_upload .input-file + .js-labelFile .icon:before{content:"\f093"}
.image_upload .input-file + .js-labelFile.has-file .icon:before{content:"\f00c";color:#5AAC7B}*/

.txtb input {
  padding: 0 5px;
  width: 400px;
  height: 30px;
  font-size: 15px;
  color: black;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  font-size: 14px;
  font-family: Trebuchet MS;
}

.txtb_large textarea {
  padding: 2px 5px;
  font-size: 15px;
  color: black;
  border: none;
  width: 100%;
  outline: none;
  background: none;
	overflow: hidden;
	resize: none;
  font-size: 14px;
  font-family: Trebuchet MS;
}

.createbtn {
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  display: block;
  width: 40%;
  height: 40px;
  border: none;
	font-size: 16px;
	font-family: gill sans mt;
  background-color: #ffdc34;
  background-size: 200%;
  color: black;
  outline: none;
  cursor: pointer;
}

@media (pointer: fine) and (hover: hover) {
  .createbtn:hover{
    background: linear-gradient(120deg,#f72464,#ffdc34);
  }
}
