.footer {
	margin-right: auto;
	margin-left: auto;
	width: 90vw;
	margin-top: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #DCDCDC;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(13, 1fr);
	grid-template-rows: repeat(2, 20px);
}

.admin_info {
	grid-column: 6/9;
	grid-row: 1;
}

.admin_link {
	margin-left: 13px;
	margin-right: 13px;
	color: black;
	text-decoration: none;
}

.shelter_logo {
	margin-top: 5px;
	grid-column: 6/9;
	grid-row: 2;
	font-family: gill sans mt;
	font-size: 12px;
	color: black;
}

.admin_link:hover, .admin_link:active, .admin_link:focus {
	color: #f72464;
}