				<div class="account_comment">
					<div class="comment_header">
						<div class="comment_header_high_row">
							<a href="account.php?acc_id={{commented_acc_id}}" class="commented_publication_author">{{commented_publication_author}}</a>
							<a href="publication.php?publ_id={{commented_publ_id}}" class="commented_publication_title">{{commented_publication_title}}</a>
						</div>
						<div class="comment_header_low_row">
							<a href="account.php?acc_id={{acc_id}}" class="comment_author">{{author}}</a>
							<a class="comment_timestamp">{{timestamp}}</a>
						</div>
					</div>
					<div class="comment_text">
						{{text}}
					</div>
				</div>
