<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="CSS/header_style.css">
		<link rel="stylesheet" href="CSS/account_style.css">
		<link rel="stylesheet" href="CSS/footer_style.css">
		<link rel="shortcut icon" href="images/shelter_icon.png" type="image/x-icon">
		<title>
			Beer shelter
		</title>
	</head>
	<body>

		{% include 'header.html' with {
				'account_photo': account_photo,
				'signed_in': signed_in,
				'status': user_status,
			}
		%}

		<div class="main_block">

			{% include 'account_info.html' with {
					'photo': account_info.photo,
					'user_name': account_info.user_name,
					'acc_id': account_info.user_id,
					'user_status': account_info.user_status,
					'user_rating': account_info.user_rating,
				}
			%}

			<div class="account_publications_block">
				<div class="publications_block_header">
					publications <a class="publications_amount">{{account_info.publications_amount}}</a>
				</div>

				{% for publication in account_publications %}

					<div class="small_publication">
						{% include 'publication_header.html' with {
								'author_image': publication.author_image,
								'author': publication.author,
								'acc_id': publication.author_id,
								'timestamp': publication.timestamp,
								'title': publication.title,
								'publ_id': publication.publication_id,
							}
						%}
					</div>

				{% endfor %}
			</div>

			<div class="account_comments_block">
				<div class="comments_block_header">
					comments <a class="comments_amount">{{account_info.comments_amount}}</a>
				</div>

				{% for comment in account_comments %}

					{% include 'account_comment.html' with {
							'commented_publication_author': comment.commented_publication_author,
							'commented_acc_id': comment.commented_publication_author_id,
							'commented_publication_title': comment.commented_publication_title,
							'commented_publ_id': comment.commented_publication_id,
							'author': comment.author,
							'acc_id': comment.author_id,
							'timestamp': comment.timestamp,
							'text': comment.text,
						}
					%}

				{% endfor %}

			</div>

		</div>

		{% include 'footer.html' %}
		<script src="https://kit.fontawesome.com/5d6364b770.js" crossorigin="anonymous"></script>

	</body>
</html>
