		<div class="footer">
			<div class="admin_info">
				<a target="_blank" rel="noopener noreferrer" href="https://vk.com/prague15031939" class="admin_link"><i class="fab fa-vk"></i></a>
				<a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UC3YnNKk6I3EZ6OK6ZM3C56g" class="admin_link"><i class="fab fa-youtube"></i></a>
				<a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/vienna12031938/" class="admin_link"><i class="fab fa-instagram"></i></a>	
			</div>	
			<div class="shelter_logo">
				&copy; 2020, prague15031939
			</div>
		</div>