		<div class="header">
			<div class="site_logo"><a class="shelter_href" href="index.php">SHELTER</a></div>
			<div class="navigation">
				<a href="catalog.php" class="navigation_link">catalog</a>
				{% if signed_in == true and status == 'admin' %}
					<a href="" class="navigation_link">create</a>
				{% endif %}
				{% if signed_in == true %}
					<a href="account.php" class="navigation_link">account</a>
				{% endif %}
			</div>
			{% if signed_in == true %}
				<a class="login_href" href="login.php"><div class="account_icon" style="background-image: url('{{account_photo}}')"></div></a>
			{% else %}
				<a class="sign_caption" href="login.php">sign in</a>
			{% endif %}
		</div>
