<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="CSS/header_style.css">
		<link rel="stylesheet" href="CSS/styles.css">
		<link rel="stylesheet" href="CSS/footer_style.css">
		<link rel="shortcut icon" href="images/shelter_icon.png" type="image/x-icon">
		<title>
			Beer shelter
		</title>
	</head>
	<body>

		{% include 'header.html' with {
				'account_photo': account_photo,
				'signed_in': signed_in,
				'status': user_status,
			}
		%}
		<div class="main_block">

			{% for publication in top_publications %}
			<div class="publication">

				{% include 'publication_header.html' with {
						'author_image': publication.author_photo_path,
						'author': publication.author,
						'acc_id': publication.author_id,
						'timestamp': publication.timestamp,
						'title': publication.title,
						'publ_id': publication.publication_id,
					}
				%}

				{% include 'publication_body.html' with {
						'text': publication.text,
						'image': publication.image_path,
					}
				%}

			</div>
			{% endfor %}

		</div>

		{% include 'footer.html' %}

		<script src="https://kit.fontawesome.com/5d6364b770.js" crossorigin="anonymous"></script>
	</body>
</html>
