			<div class="publication_footer">
				<form action="publication.html" class="publication_footer_form">
					<div class="like">
						<div class="like_amount">{{like_amount}}</div>
						<button class='likebtn'><img src="images/heart.png"/></button>
					</div>
					<div class="txtb">
        				<input type="text" placeholder="write a comment..">
        			</div>
        			<div class="send_comment">
        				<button class="sendbtn"><img src="images/paper_plane.png"></button>
        			</div>
        		</form>
			</div>
