<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="CSS/login_style.css">
    <link rel="stylesheet" href="CSS/footer_style.css">
    <link rel="shortcut icon" href="images/shelter_icon.png" type="image/x-icon">
    <title>
      Beer shelter
    </title>
  </head>
  <body>

    <form action="register.php" class="register-form" method="POST">
      <h1>Register</h1>

      <a class="label">Username</a>
      <div class="txtb">
        <input type="text" name="username">
      </div>

      <a class="label">E-mail</a>
      <div class="txtb">
        <input type="text" name="email">
      </div>

      <a class="label">Password</a>
      <div class="txtb">
        <input type="password" name="password">
      </div>

      <input type="submit" class="logbtn" value="Sign up">

      <div class="bottom_text">Have an account? <a href="login.php" class="redirect_href">Sign in</a></div>
      <div class="bottom_error_text">{{register_error_info}}</div>
    </form>

    {% include 'footer.html' %}

    <script src="https://kit.fontawesome.com/5d6364b770.js" crossorigin="anonymous"></script>

  </body>
</html>
